		</section>
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://twitter.com/KotlinLaPaz" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="https://facebook.com/KotlinLPZ" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="https://instagram.com/KotlinLaPaz" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="https://github.com/KotlinLaPaz" class="icon fa-github"><span class="label">Github</span></a></li>
					<li><a href="https://meetup.com/KotlinLPZ" class="icon fa-meetup"><span class="label">Meetup</span></a></li>
				</ul>
				<ul class="copyright">
					<li></li>
					<li>Desarrollado con &hearts;</li>
					<li></li>
				</ul>
			</footer>

	</body>
</html>